@import "webfonts";

:root {
  --font-heading: gilmer, poppins, sans-serif;
  --font-body: libre-franklin, 'Libre Franklin', sans-serif;
  --mobile-nav-transition-duration: .3s;
  .gradient-scale {
    --brand-blue-1: hsl(198, 97%, 7%);
    --brand-blue-2: hsl(198, 88%, 20%);
    --brand-blue-3: hsl(198, 79%, 33%);
    --brand-blue-4: hsl(198, 70%, 46%);
    --brand-blue-5: hsl(198, 60%, 51%);
    --brand-blue-6: hsl(198, 79%, 64%);
    --brand-blue-7: hsl(198, 88%, 77%);
    --brand-blue-8: hsl(198, 95%, 86%);
    --brand-blue-9: hsl(198, 95%, 95%);
  }
  
  --brand-blue-1: hsl(198, 95%, 11%);
  --brand-blue-2: hsl(198, 85%, 21%);
  --brand-blue-3: hsl(198, 75%, 31%);
  --brand-blue-4: hsl(198, 65%, 41%);
  --brand-blue-5: hsl(198, 60%, 51%);
  --brand-blue-6: hsl(198, 65%, 61%);
  --brand-blue-7: hsl(198, 75%, 71%);
  --brand-blue-8: hsl(198, 85%, 81%);
  --brand-blue-9: hsl(198, 95%, 89%);


  --link-bg-inactive: rgba(229, 239, 239, 0);
  --link-bg-active: rgba(229, 239, 239, 1);

  --white: #fff;

  --midnight-slate: hsl(220 6% 10%);

  --text-primary: var(--midnight-slate);
  --background-primary: hsl(0 0% 100%);
  --text-knockout: var(--white);
  --blue-hero-bg: var(--brand-blue-5);
  --text-inline-hyperlink: oklch(60.38% 0.144423 226.95);

  @media(prefers-contrast: more) {
    --blue-hero-bg: var(--brand-blue-3);
  }

  @media(prefers-color-scheme: dark) {
    --background-primary: var(--midnight-slate);
    --blue-hero-bg: var(--brand-blue-2);
    --text-primary: var(--white);
  }

  --type-scale-base: 1rem;
  --scale-multiplier: 1.2;
  --type-scale-1: var(--type-scale-base);
  --type-scale-2: calc(var(--type-scale-1) * var(--scale-multiplier));
  --type-scale-3: calc(var(--type-scale-2) * var(--scale-multiplier));
  --type-scale-4: calc(var(--type-scale-3) * var(--scale-multiplier));
  --type-scale-5: calc(var(--type-scale-4) * var(--scale-multiplier));
  --type-scale-6: calc(var(--type-scale-5) * var(--scale-multiplier));
  --type-scale-7: calc(var(--type-scale-6) * var(--scale-multiplier));
  --type-scale-8: calc(var(--type-scale-7) * var(--scale-multiplier));
  --type-scale-0: calc(var(--type-scale-base) / var(--scale-multiplier));
  --type-scale-00: calc(var(--type-scale-0) / var(--scale-multiplier));

  --spatial-scale-base: calc(var(--type-scale-base) * .73);
  --spatial-scale-1: var(--spatial-scale-base);
  --spatial-scale-2: calc(var(--spatial-scale-1) * var(--scale-multiplier));
  --spatial-scale-3: calc(var(--spatial-scale-2) * var(--scale-multiplier));
  --spatial-scale-4: calc(var(--spatial-scale-3) * var(--scale-multiplier));
  --spatial-scale-5: calc(var(--spatial-scale-4) * var(--scale-multiplier));
  --spatial-scale-6: calc(var(--spatial-scale-5) * var(--scale-multiplier));
  --spatial-scale-7: calc(var(--spatial-scale-6) * var(--scale-multiplier));
  --spatial-scale-8: calc(var(--spatial-scale-7) * var(--scale-multiplier));
  --spatial-scale-9: calc(var(--spatial-scale-8) * var(--scale-multiplier));
  --spatial-scale-10: calc(var(--spatial-scale-9) * var(--scale-multiplier));
  --spatial-scale-11: calc(var(--spatial-scale-10) * var(--scale-multiplier));
  --spatial-scale-12: calc(var(--spatial-scale-11) * var(--scale-multiplier));
  --spatial-scale-13: calc(var(--spatial-scale-12) * var(--scale-multiplier));
  --spatial-scale-14: calc(var(--spatial-scale-13) * var(--scale-multiplier));
  --spatial-scale-0: calc(var(--spatial-scale-base) / var(--scale-multiplier));
  --spatial-scale-00: calc(var(--spatial-scale-0) / var(--scale-multiplier));

  --desktop-max-width: calc(1512rem /16);

  --block-border-radius: var(--spatial-scale-2);
  --mobile-block-margin: var(--spatial-scale-2);
  --grid-gutter: var(--spatial-scale-4);

  @media(min-width: $breakpoint-medium) {
    --scale-multiplier: 1.25;
    --type-scale-base: calc(18rem/16);
  }

  @media(min-width: $breakpoint-large) {
    --type-scale-base: calc(20rem/16);
  }
}
body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-body);
  margin: 0;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.dhd--text--overline {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: var(--type-scale-0);
  letter-spacing: 0.045em;
  line-height: var(--spatial-scale-0);
  margin-top: 0;
  margin-bottom: var(--spatial-scale-00);
  text-transform: uppercase;
}

.dhd--text--title-link {
  color: inherit;
  display: block;
  text-decoration: underline;
  text-decoration-color: oklch(100 0 0 / 0);
  transition: text-decoration-color .3s ease-in-out;
  &:hover {
    text-decoration-color: currentColor;
    text-decoration-thickness: .0625em;
  }
}

.dhd--layout-wrapper {
  padding-right: var(--grid-gutter);
  padding-left: var(--grid-gutter);
  @media (min-width: $breakpoint-small) {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(#{13 / 15} * 100%);
    padding-right: 0;
    padding-left: 0;
  }
  @media (min-width: $breakpoint-medium) {
    max-width: calc(#{13 / 15} * 100%);
  }
  @media (min-width: $breakpoint-large) {
    margin-right: auto;
    margin-left: auto;
    max-width: calc(#{1478rem} / 16);
    /*
       One out of 15 columns, plus a gutter of spacial scale 2
       This sets the illusion of a 17 column grid,
       where the outermost columns are reserved for spacing / rhythm
    */
    --lateral-padding: calc(#{ 1 / 17 } * 100%);
    padding-right: var(--lateral-padding);
    padding-left: var(--lateral-padding);
  }
  @media (min-width: $breakpoint-royale) {
    --lateral-padding: calc(#{ 1 / 19 } * 100%); 
  }
}

.dhd--cms-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
  h2 {
    font-size: var(--type-scale-3);
    font-weight: 600;
    line-height: var(--spatial-scale-6);
    margin-top: 0;
    margin-bottom: 0;
  }
  h3 {
    font-size: var(--type-scale-2);
    font-weight: 600;
    line-height: var(--spatial-scale-5);
  }
  p {
    font-size: var(--type-scale-1);
    line-height: var(--spatial-scale-5);
    margin-top: var(--spatial-scale-5);
    margin-bottom: var(--spatial-scale-5);
  }
  ul, ol {
    font-size: var(--type-scale-1);
    line-height: var(--spatial-scale-5);
    margin-top: var(--spatial-scale-5);
    margin-bottom: var(--spatial-scale-5);
  }
  li {
    margin: var(--spatial-scale-3)
            0
            var(--spatial-scale-3)
            0;
  }
  // Spacing for numbers and discs are too different by default
  // so let’s override them.
  ol > li {
    padding-left: var(--spatial-scale-2);
  }
  ul > li {
    padding-left: var(--spatial-scale-00);
  }
}

.dhd--cta-link {
  border-bottom: 0.12rem solid var(--text-inline-hyperlink);
  color: var(--text-inline-hyperlink);
  display: inline-block;
  font-size: var(--type-scale-2);
  line-height: var(--spatial-scale-5);
  text-decoration: none;
  white-space: nowrap;
}
