@mixin wrapper-full-width() {
  margin-right: var(--mobile-block-margin);
  margin-left: var(--mobile-block-margin);
  @media (min-width: $breakpoint-large) {
    max-width: var(--desktop-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--mobile-block-margin);
  }
}

$breakpoint-small: calc(600rem/16);
$breakpoint-medium: calc(800rem/16);
$breakpoint-large: calc(1200rem/16);
$breakpoint-royale: calc(1600rem/16);
