/*
Font:       Gilmer
Style:      Regular
URL:        https://www.youworkforthem.com/font/T9758/gilmer
Foundry:    Piotr Lapa
Foundry:    https://www.youworkforthem.com/designer/1166/piotr-lapa
Copyright:  Copyright © 2018 by Piotr _apa. All rights reserved.
Version:    17
Created:    August 17, 2018
License:    https://www.youworkforthem.com/font-license 
License:    The WebFont(s) listed in this document must follow the YouWorkForThem
            WebFont license rules. All other parties are strictly restricted 
            from using the WebFonts(s) listed without a purchased license. 
            All details above must always remain unaltered and visible in your CSS.
*/

/*  NOTE
    This design doesn’t use Gilmer Normal anywhere yet.
    It only uses Medium and Bold, since it’s used for headings.
 */
@font-face {
	font-family: 'gilmer';
	src: url('https://cdn.dan.hiester.design/fonts/gilmer-medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gilmer';
	src: url('https://cdn.dan.hiester.design/fonts/gilmer-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'libre-franklin';
	src: url('https://cdn.dan.hiester.design/fonts/LibreFranklin[wght].woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'libre-franklin';
	src: url('https://cdn.dan.hiester.design/fonts/LibreFranklin-italic[wght].woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}
